.loginLabel {
    font-size:14px;
    color:#fff;
    text-transform: uppercase;
}

.eachInputBox {
    font-size:15px;
    color:#fff;
}

.loginBtnDiv {
    padding-left: 3%;
}

.forgotPswrdLabel {
    font-size: 15px;
    color:#fff;
}

.loginBtn{
    font-size:16px;
    height:35px;
    margin-top:30px;
    font-weight:700;
}

.forgotPswrd{
    color:#fff;
}

.loginAnchorLabel {
    margin-top:15px;
    font-size:15px;
    text-align:center;
}

.loginAnchor {
    text-align: center;
    color: #a2c3ff;
}