<ion-content padding>
  <ion-img src="../assets/images/shoeRepairLogo.png" style="height:145px"></ion-img>
  <div class="eachRow">
    <ion-label style="font-size:13px; text-transform:uppercase;">Welcome</ion-label>
  </div>
  <div class="eachRow">
    <ion-label style="font-size:22px; text-transform:uppercase; font-weight:600;">MIGUEL</ion-label>
  </div>
  <div class="eachRow">
    <ion-label style="font-size:11px;margin-top:10px; font-weight:100;">You are logged in to the :</ion-label>
  </div>
  <div class="eachRow">
    <ion-label style="font-size:22px; text-transform:uppercase; font-weight:600;">
      CLEAN AND SHINE DEPARTMENT
    </ion-label>
  </div>
  <div style="color:#fff; margin-top:20px; margin-bottom:8px;padding-left:20px; padding-right:20px;text-align:center;">
    <ion-label style="font-size:13px; font-weight:100;">For today, June 12th 2019 your PRODUCTION
      ASSIGNMENT is:</ion-label>
  </div>
  <div style="padding-left:30px; padding-right:30px; color:#fff;text-align:center;">
    <ion-label style="font-size:35px; font-weight:800;">13 ITEMS</ion-label>
  </div>
  <div style="padding-left:30px; padding-right:30px; color:#fff;text-align:center;">
    <ion-label style="font-size:20px;">Production Value :</ion-label>
  </div>
  <div style="padding-left:30px; padding-right:30px;color:#fff;text-align:center;">
    <ion-label style="font-size:35px; font-weight:800;">$375</ion-label>
  </div>
  <div style="margin-top:30px; text-align:center;">
    <ion-button class="taskBtn strtBtn" expand="block">START A JOB</ion-button>
    <ion-button class="taskBtn viewBtn" expand="block">VIEW</ion-button>
    <ion-button class="taskBtn finishBtn" expand="block">FINISH A JOB</ion-button>
  </div>
</ion-content>